<configuration>
  <config><add key="globalPackagesFolder" value=".tools/nuget" /></config>
  <fallbackPackageFolders><add key="existing-cache" value="C:\Users\Administrator\.nuget\packages" /></fallbackPackageFolders>
  <packageSources><clear /><add key="nuget.org" value="https://api.nuget.org/v3/index.json" /></packageSources>
</configuration>
